.cardHolder {
    width: 18%;
}
@media only screen and (max-width: 900px) {
    .cardHolder {
        width: calc((100% - 1% * 10)/4 );
    }
}
@media only screen and (max-width: 650px) {
    .cardHolder {
        width: calc((100% - 1% * 10)/3 );
    }
}
@media only screen and (max-width: 425px) {
    .cardHolder {
        width: calc((100% - 1% * 10)/2 );
    }
}
@media only screen and (max-width: 350px) {
    .cardHolder {
        width: calc((100% - 1% * 10)/1 );
    }
}